[user]
	name = Vit Brunner
	email = vit.brunner@gmail.com

[core]
	excludesfile = ~/.gitignore

[color]
	ui = auto

[alias]
	a = add
	ap = add -p
	br = branch
	bra = branch -a
	brd = branch -D
	st = status
	ci = commit
	cim = commit -m
	cia = commit -a
	ciam = commit -am
	co = checkout
	lg = log --summary
	lf = log --full-diff -p
	tree = log --graph --pretty=oneline --decorate
	d = diff
	dc = diff --cached
	pom = push origin master
