[user]
	name = Vit Brunner
	email = vit.brunner@gmail.com

[core]
	excludesfile = ~/.gitignore
	quotepath = off

[color]
	ui = auto
[color "diff"]
	meta = white

[diff]
	noprefix = true

[alias]
	a = add
	ai = add -i
	ap = add -p
	br = branch
	bra = branch -a
	brd = branch -D
	ci = commit
	cim = commit -m
	cia = commit -a
	ciam = commit -am
	co = checkout
	cob = checkout -b
	cot = checkout --track
	d = diff
	dc = diff --cached
	f = fetch
	l = log --graph --decorate --pretty=oneline --abbrev-commit
	la = log --graph --decorate --pretty=oneline --abbrev-commit --all
	lg = log --summary --name-status
	lf = log --full-diff -p
	p = push
	s = status
	unstage = reset HEAD

[i18n]
	logoutputencoding = utf8
	commitencoding = utf8

[push]
	default = current
