[user]
	name = Vit Brunner
	email = vit.brunner@gmail.com

[core]
	excludesfile = ~/.gitignore
	quotepath = off

[color]
	ui = auto
[color "diff"]
	meta = white

[diff]
	noprefix = true

[alias]
	a = add
	ai = add -i
	ap = add -p
	br = branch
	bra = branch -a
	brd = branch -D
	ci = commit
	cim = commit -m
	cia = commit -a
	ciam = commit -am
	co = checkout
	cob = checkout -b
	cot = checkout --track
	cop = checkout -p
	d = diff
	dc = diff --cached
	f = fetch
	fa = fetch --all
	l  = log --graph --pretty=format:'%C(yellow)%h%Creset%C(bold red)%d%Creset %s %Cgreen(%cr) %C(blue)<%an>%Creset'
	la = log --graph --pretty=format:'%C(yellow)%h%Creset%C(bold red)%d%Creset %s %Cgreen(%cr) %C(blue)<%an>%Creset' --all
	lm = log --graph --format=format:'%C(yellow)%h%C(white) %aD%Creset %Cgreen(%ar)%Creset%C(bold red)%d%Creset%n''        %s%C(blue) <%an>%Creset' --all
	lg = log --summary --name-status
	lf = log --full-diff -p
	p = push
	s = status --short --branch
	unstage = reset HEAD

	assume   = update-index --assume-unchanged
	assumed  = "!git ls-files -v | grep ^h | cut -c 3-"
	unassume = update-index --no-assume-unchanged

	oldest-ancestor = !bash -c 'diff --old-line-format='' --new-line-format='' <(git rev-list --first-parent "${1:-master}") <(git rev-list --first-parent "${2:-HEAD}") | head -1' -

[i18n]
	logoutputencoding = utf8
	commitencoding = utf8

[push]
	default = current
