[submodule ".vim/bundle/ack"]
	path = .vim/bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule ".vim/bundle/addonutils"]
	path = .vim/bundle/addonutils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule ".vim/bundle/easymotion"]
	path = .vim/bundle/easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule ".vim/bundle/editorconfig"]
	path = .vim/bundle/editorconfig
	url = https://github.com/editorconfig/editorconfig-vim
[submodule ".vim/bundle/elm"]
	path = .vim/bundle/elm
	url = https://github.com/ElmCast/elm-vim.git
[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/fzf"]
	path = .vim/bundle/fzf
	url = https://github.com/junegunn/fzf.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/pathogen"]
	path = .vim/bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule ".vim/bundle/rainbow-parentheses"]
	path = .vim/bundle/rainbow-parentheses
	url = https://github.com/kien/rainbow_parentheses.vim
[submodule ".vim/bundle/sideways"]
	path = .vim/bundle/sideways
	url = https://github.com/AndrewRadev/sideways.vim.git
[submodule ".vim/bundle/snipmate"]
	path = .vim/bundle/snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule ".vim/bundle/surround"]
	path = .vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/tagbar"]
	path = .vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule ".vim/bundle/tlib"]
	path = .vim/bundle/tlib
	url = https://github.com/tomtom/tlib_vim.git
[submodule ".vim/bundle/vimwiki"]
	path = .vim/bundle/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule ".zsh-custom/plugins/zsh-syntax-highlighting"]
	path = .zsh-custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".zsh-custom/plugins/zsh-autosuggestions"]
	path = .zsh-custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
